<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">회원가입</h4>
		</div>
		<div class="modal-body">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<div class="field">
				<%= f.label :email %>
				<br />
				<%= f.email_field :email, autofocus: true,:class=>"form-control" %>
			</div>

			<div class="field">
				<%= f.label :password %>
				<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %>
				<br />
				<%= f.password_field :password, autocomplete: "off",:class=>"form-control" %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation %>
				<br />
				<%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>
			</div>
			<div>
				&nbsp
			</div>
			<div class="actions">
				<%= f.submit "Sign up",:class=>"btn btn-lg btn-primary btn-block" %>
			</div>
			<% end %>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				Close
			</button>
		</div>
	</div>
</div>

<!--

<div class="container">
<form class="form-signin">
<h2 class="form-signin-heading">회원 가입</h2>
</br>
<label for="inputEmail" class="sr-only">Email address</label>
<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
</br>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
</br>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
</br>
<button class="btn btn-lg btn-primary btn-block" type="submit">
회원가입
</button>
</form>
<%= render "devise/shared/links" %>
</div>

<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
-->

<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>