<div style="width: 520px; margin: 0 auto;">
	<h2 style="text-align: center;">회원가입</h4>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			<div class="field form-group">
				<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email *" %>
			</div>
			<div class="field form-group">
				<%= f.text_field :username, class: "form-control", placeholder: "유저명" %>
			</div>
			<div class="field form-group">
				<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "비밀번호(8자 이상) *" %>
			</div>
			<div class="field form-group">
				<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "비밀번호 확인 *" %>
			</div>
			<div>
				&nbsp
			</div>
			<div class="actions">
				<%= f.submit "환영합니다!", class: "btn btn-orange btn-block" %>
			</div>
		<% end %>
	</div>
</div>
