<div class="container">
	<h1>Admin#index</h1>

	<ul>
		<li>
			<%= link_to "User", '/user' %>
		</li>
		<li>
			<%= link_to "School", '/school' %>
		</li>
		<li>
			<%= link_to "Department", '/department' %>
		</li>
		<li>
			<%= link_to "Building", '/building' %>
		</li>
		<li>
			<%= link_to "Savetimetable", '/savetimetable' %>
		</li>
	</ul>
</div>