<h2>계정 잠금 해제</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "잠금 해제 메일 재발송" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
