<h1>Timetable#new</h1>

<div>
	<div><%= label_tag :school, "학과 선택" %></div>
	<div>
		<div>
			<%= select_tag nil, options_for_select(@schools.collect{ |s| [s.school_name, s.id] }, nil), { id: "school_select" } %>
		</div>
		<div>
			<%= select_tag :department, options_for_select(@departments.collect{ |d| [d.department_name, d.id]}, nil), { id: "department_select" } %>
		</div>
	</div>
</div>

<div id="lecture-container">
	<ul>
		<% @lectures.each_with_index do |lecture,index| %>
			<li id="lecture_li_<%= index %>" class="lecture" onclick="clicked(<%= index %>)">
				<span><%= lecture.lecture_name%></span>
				<span><%= lecture.professor %></span>
				<% lecture.lecturetimes.each do |t|  %>
					<% case t.day %>
					<% when 1 %>
						<span>월</span>
					<% when 2 %>
						<span>화</span>
					<% when 3 %>
						<span>수</span>
					<% when 4 %>
						<span>목</span>
					<% when 5 %>
						<span>금</span>
					<% when 6 %>
						<span>토</span>
					<% else %>
						<span>일</span>
					<% end %>
					<span><%= t.starttime %>~<%= t.endtime %></span>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

<div id="timetable">
	<div id="table-wrap">
		<div id="colheaders">
			<% for day in ["월","화","수","목","금","토"] %>
				<div class="colhead">
					<span><%= day %></span>
				</div>
			<% end %>
		</div>
		<div id="table-body">
			<div id="rowheaders">
				<% for i in 8..11 %>
					<div class="rowhead">
						<span>오전 <%= i %>시</span>
					</div>
				<% end %>
				<div class="rowhead">
					<span>오후 12시</span>
				</div>
				<% for i in 1..9 %>
					<div class="rowhead">
						<span>오후 <%= i %>시</span>
					</div>
				<% end %>
			</div>
			<div id="table-grid">
				This field must be filled with grid.
			</div>
		</div>
	</div>
</div>
