<div>&nbsp</div><div>&nbsp</div>
<div class="container">

<div class="timetable left-field">
	<form role="form" class ="form-groups">
	<div>
		<div class = "form-group">
			<p>학교</p>
			<%= select_tag :school, options_for_select(@schools.collect{ |s| [s.school_name, s.id] }, nil), { id: "school_select", class: "form-control" } %>
		</div>
		<div class = "form-group">
			<p>학과</p>
			<%= select_tag :department, nil, { id: "department_select", class: "form-control" } %>
		</div>
	</div>
	<div class = "form-group">
		<p>구분</p>
		<div id="classification-container">
			<ul id="classification-container-body"></ul>
		</div>
	</div>	
	</form>
	<div class = "form-group">Page Next</div>
	<div class = "form-group">
		<p class = "menu-line">과목</p>
		<div id="lecture-container">
			<ul id="lecture-container-body"></ul>
		</div>
	</div>
</div>

<div id="timetable" class="new-timetable">
	<p id="grade-number-default"><span style="color: red;">0</span>학점 / <span style="color: red;">0</span>강의</p>
	<div id="table-wrap">
		<div id="colheaders">
			<% for day in ["월","화","수","목","금","토"] %>
				<div class="time-colhead">
					<span><%= day %></span>
				</div>
			<% end %>
		</div>
		<div id="table-body">
			<div id="rowheaders">
				<% for i in 8..11 %>
					<div class="rowhead">
						<span class = "timetable_time">오전 <%= i %>시</span>
					</div>
				<% end %>
				<div class="rowhead">
					<span class = "timetable_time">오후 12시</span>
				</div>
				<% for i in 1..9 %>
					<div class="rowhead">
						<span class = "timetable_time">오후 <%= i %>시</span>
					</div>
				<% end %>
			</div>
			<div id="table-grid"></div>
		</div>
	</div>
	<% if user_signed_in? %>
		<div>
			<%= form_tag '/timetable/create' do %>
				<%= hidden_field_tag 'lectures', '', id: "timetable-hidden" %>
				<%= submit_tag "저장", id: "btn-save", class:"btn btn-info" %>
			<% end %>
		</div>
	<% end %>
</div>
</div>
