<div style="width: 630px; margin: 0 auto;">
	<div id="timetable" class="show_timetable">
		<p id="grade-number-saved" class="grade-number"></p>
		<div id="table-wrap">
			<div id="colheaders">
				<% for day in ["월","화","수","목","금","토"] %>
					<div class="time-colhead">
						<span><%= day %></span>
					</div>
				<% end %>
			</div>
			<div id="table-body">
				<div id="rowheaders">
					<% for i in 8..11 %>
					<div class="rowhead">
						<span class = "timetable_time">오전 <%= i %>시</span>
					</div>
					<% end %>
					<div class="rowhead">
						<span class = "timetable_time">오후 12시</span>
					</div>
					<% for i in 1..6 %>
					<div class="rowhead">
						<span class = "timetable_time">오후 <%= i %>시</span>
					</div>
					<% end %>
				</div>
				<div id="table-grid"></div>
			</div>
		</div>
	</div>
	<div class="form-group" style="text-align: center;">
		<%= form_tag "/timetable/destroy/#{@ttid}" do %>
			<%= button_tag '공유', { class: "btn btn-orange", type: 'button', onclick: 'shareLink();'} %>
			<%= submit_tag '삭제', class: "btn btn-orange" %>
		<% end %>
	</div>
</div>

<script>
	$(document).on('ready page:load', function() {
		$('.show_timetable #table-grid').empty();
		$('.show_timetable > p').empty();
		$('#grade-number-saved').html("<span style='color: red;'>"
			+ <%= @grade %> + "</span>학점 / <span style='color: red;'>"
			+ <%= @numb %> + "</span>강의"
		);

		<% @result.each do |result| %>
			<% if result[0].length == 1 %> // if the first of a lecture has no lecturetime (in fact, clearly all parts of the lecture has no lecturetime)
				$('.show_timetable').append("<p>"
					+ "<%= raw result[0][0] %>" + "</p>"); // just print lecture_name
			<% next %>
			<% end %>
			var colors = getRandColor();
			<% result.each do |r| %>
				$('.show_timetable #table-grid').append("<div"
					+ " style='background-color: "+colors+"; position: absolute; width: 89px;"
					+ " height: " + <%= (r[2]-r[1])*0.44 - 1 %> + "px;"
					+ " top: " + <%= (r[1]-800)*0.44 + 1 %> + "px;"
					+ " left: " + <%= 60+(r[0]-1)*90 + 1 %> + "px;'>"
					+ "<%= raw r[3] %>" + "</div>");
			<% end %>
		<% end %>
	})
</script>
