var days = <%= @days %>;
var times = <%= @times %>;

if ( checkOverlap(days,times) ) {
	lectureSaver.push(<%= @lecture.id.to_i %>);
	daySaver.push(days);
	timeSaver.push(times);
	$('#' + '<%= @lecture.id %>').data('checked','1');
	$('#timetable-hidden').val(lectureSaver);

	for ( x in days ) {
		$('#table-grid').append("<div class='" + "<%= @lecture.id %>" + "'"
			+ " style='position: absolute; width: 90px;"
			+ " height: " + (times[x][1] - times[x][0]) * 0.44 + "px;"
			+ " top: " + (times[x][0] - 800) * 0.44 + "px;"
			+ " left: " + (60 + (days[x]-1) * 90) + "px;'"
			+ " onclick='removeOnTimetable()'>" + "<%= @lecture.lecture_name %>"
			+ "</div>");
	}

	var colors = getRandColor();
	$('.' + "<%= @lecture.id %>").css('background-color', colors);
	$('#' + "<%= @lecture.id %>").css('background-color', colors);
}
