var days = <%= @days %>;
var times = <%= @times %>;
var colors = ['blue', 'yellow', 'green', 'red'];
var rand = Math.floor(Math.random()*colors.length);

if ( checkOverlap(days,times) ) {
	lectureSaver.push(<%= @lecture.id.to_i %>);
	daySaver.push(days);
	timeSaver.push(times);
	$('#' + '<%= @lecture.id %>').data('checked','1');

	for ( x in days ) {
		$('#table-grid').append("<div class='" + "<%= @lecture.id %>" + "'"
			+ " style='position: absolute; width: 90px;"
			+ " height: " + (times[x][1] - times[x][0]) * 0.44 + "px;"
			+ " top: " + (times[x][0] - 800) * 0.44 + "px;"
			+ " left: " + (60 + (days[x]-1) * 90) + "px;'"
			+ " onclick='removeOnTimetable()'>" + "<%= @lecture.lecture_name %>"
			+ "</div>");
	}

	$('.' + "<%= @lecture.id %>").css('background-color', colors[rand]);
	$('#' + "<%= @lecture.id %>").css('background-color', colors[rand]);
} else {
	alert("다른 수업과 시간이 겹칩니다.");
}
