<h1>게시판</h1>

<table>
  <thead>
    <tr>
        <th width = "300px">제목</th>
        <th width = "10px">글쓴이</th>
        <th width = "50px">조회수</th>
        <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td align="left" Margin-left = "10px"><a href="/post/show/<%= post.id %>"><%= post.title %></a></td>
        <td align="center"><%= post.user.email %></td>
        <td align="center"><%= post.view_count %></td>
        <td><a href="/post/edit/<%= post.id %>">수정하기</a></td>
        <td><a href="/post/destroy/<%= post.id %>">삭제하기</a></td>
      </tr> 
    <% end %>
  </tbody>

</table>
  <%= paginate @posts %>
<br>

<%= link_to '새 글 작성하기', '/post/new' %>