<h3>글 작성하기</h3>
    <%= form_tag '/post/create' do %>
    <div>
        <p>제목: <%= text_field_tag 'title', nil,placeholder: "제목을 입력하세요." %></p>
    </div>
    <div >
        <p>내용: <%= text_area_tag 'content', nil, placeholder: "내용을 입력하세요." %></p>
    </div>
    <div >
        <%= submit_tag '작성하기' %>
    </div>
    <% end %>
    
<%= link_to '뒤로가기', '/post/index' %> 