<h3><%= @post.id%>번 글</h3>
<p>
    <strong>제목:</strong>
    <%= @post.title %>
</p>

<p>
    <strong>내용:</strong>
    <%= @post.content %>
</p>

<p>
    <strong>작성자:</strong>
    <%= @post.user.email %>
</p>
<br>

<% @post.pcomments.each do |comment| %>
    <p>
        <b>작성자:</b>
        <%= comment.user.email %>
    </p>
    <p>
        <b>내용:</b>
        <%= comment.content %>
    </p>
<% end %>

<%= form_tag '/post/createpcomment' do %>
    <div>
        <p>댓글: <%= text_field_tag 'pcomment',nil,placeholder: "내용을 입력하세요." %></p>
    </div>
 <% end %>
<a href="/post/edit/<%= @post.id %>">수정하기</a>
<a href="/post/index/">뒤로가기</a>
