<h1>Recommend#index</h1>

<div> <!-- this div is for form tag -->
	<%= form_tag '/recommend/result' do %>
		<div class="recommend left-field">
			<div>
				<div>
					<%= select_tag :school, options_for_select(@schools.collect{ |s| [s.school_name, s.id] }, nil), { id: "school_select" } %>
				</div>
				<div>
					<%= select_tag :department, nil, { id: "department_select" } %>
				</div>
			</div>
			<div id="classification-container">
				<ul id="classification-container-body"></ul>
			</div>
			<div id="option-container">
				<label for="recommend-option">추가 옵션</label>
				<input type="checkbox" id="recommend-option" />
				<div id="option-container-body" style="display: none;">
					<label for="day_restrict">*특정 요일 제외</label>
					<%= select_tag :day_restrict, options_for_select([["없음",-1],["월",1],["화",2],["수",3],["목",4],["금",5]]) %><br>
					<label for="grade_restrict_over">*학점 선택</label><br>
					<%= number_field_tag :grade_restrict_over, 0, min: 0, max: 21 %><span>학점 이상</span><br>
					<%= number_field_tag :grade_restrict_less, 30, min: 0, max: 30 %><span>학점 이하</span><br>
					<label for="morning_restrict">*오전수업제외</label>
					<%= check_box_tag :morning_restrict, 1 %><br>
				</div>
			</div>
			<div id="lecture-container">
				<ul id="lecture-container-body"></ul>
			</div>
		</div>

		<div id="wishbox">
			<div id="wishbox-wrap">
				<div id="wishbox-body">
					<ul id="wishlist"></ul>
				</div>
				<%= hidden_field_tag 'lecture_id', '', id: 'wishbox-hidden' %>
				<%= submit_tag "추천받기", id: "btn-recommend" %>
				<%= button_tag '취소', { type: 'button', onclick: 'resetAll();' } %>
			</div>
		</div>
	<% end %>
</div>
