wishbox.push(<%= @lecture.id.to_i %>);
$('#' + '<%= @lecture.id %>').data('checked','1');
$('#wishlist').append("<li class='<%= @lecture.id %>'>"
	+ "<%= @lecture.lecture_name %></li>");

$('#' + '<%= @lecture.id %>').css('background-color', 'lightgreen');
